<div class="container">
<div class="card text-white bg-light mb-3" style="max-width: 18rem;">
<div class="card-header">About Us</div>
    <div class="card-body">
        <h5 class="card-title">Haute</h5>
        <p class="card-text">Cupcake ipsum dolor sit amet chocolate. Croissant soufflé cupcake apple pie sweet roll. Tootsie roll wafer halvah gummies marshmallow candy canes carrot cake powder. Soufflé wafer pie chocolate bar gingerbread pie tiramisu. Muffin gummi bears tootsie roll. Croissant jelly beans pastry.</p>
        <h5 class="card-title">Foodie</h5>
        <p class="card-text">Cupcake ipsum dolor sit amet chocolate. Croissant soufflé cupcake apple pie sweet roll. Tootsie roll wafer halvah gummies marshmallow candy canes carrot cake powder. Soufflé wafer pie chocolate bar gingerbread pie tiramisu. Muffin gummi bears tootsie roll. Croissant jelly beans pastry.</p>
    
    </div>
</div>