<div class="container">
<div class="card text-white bg-light mb-3" style="max-width: 18rem;">
<div class="card-header">About Haute-Food13...</div>
    <div class="card-body">
        <h5 class="card-title">Haute</h5>
        <p class="card-text">\ ot \ (adjective) </p>
        <p class="card-text">Fashionable or trendy.</p>
        <h5 class="card-title">Foodie</h5>
        <p class="card-text">\ fu-dee \ (noun)</p>
        <p class="card-text">: a person having an avid interest in the latest food fads.</p>
    </div>
</div>